h1 {
    font-size: 60px;
    font-weight: bold;
    padding: 80px 0 0 0;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 48px;
    margin-top: 8px;
    margin-bottom: 0;
}

.title-name {
    font-size: 30px;
    font-weight: bold;
}

.title-fullname {
    font-size: 14px;
}

.listview {
    padding: 0 20%;
    position:absolute;
}

.fullview {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    background-repeat: no-repeat;
    text-align: center;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 2;
    color: white;
}

.entry-block{
    margin-top:20px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.4);
}

.countdown-row {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.countdown-section{
    border-left: 1px dotted #dadada;
    border-color: rgb(218,218,218);
    border-color: rgba(218,218,218,0.8);
    color: white;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    margin:10px 0 5px 0;
    text-align: center;
    text-transform: lowercase;
    width: 25%;
    -webkit-box-sizing:	border-box;
    -moz-box-sizing:	border-box;
    box-sizing:			border-box;
}

.countdown-section:first-child {
    border-left: 0;
}

.countdown-amount {
    color: #fff;
    display: block;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: normal;
    line-height: 1;
    padding-bottom: 5px;
}

.red-block {
    background-color: orangered;
}

.red-block:hover {
    background-color: red;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.yellow-block {
    background-color: gold;
}

.yellow-block:hover {
    background-color: yellow;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.blue-block {
    background-color: deepskyblue;
}

.blue-block:hover {
    background-color: blue;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.green-block {
    background-color: darkgreen;
}

.green-block:hover {
    background-color: green;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.timer-box{
    display: inline-block;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    border: 4px solid rgba(255, 255, 255, .6);
    color: white;
    text-align: center;
    margin: 35px 24px;
    padding: 20px 12px 0 12px;
    width: 120px;
}

.timer-box p{
    margin-top: 0;
    text-transform: lowercase;
}

/* above things work on default size of 980px and up, for other we use media queries */

/* large desktop */
@media (min-width: 1200px) {
    .listview {
        padding: 0 26%;
    }
}

/* portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .listview {
        padding: 0 16%;
    }
}

/* landscape phone to portrait tablet */
@media (max-width: 767px) {
    .listview {
        padding: 0 10%;
    }

    .timer-box{
        margin: 35px 12px;
        padding: 16px 0 0 0;
        width: 100px;
    }

    h3 {
        font-size: 32px;
    }
}

/* landscape phones and down */
@media (max-width: 480px) {
    .listview {
        padding: 0 4%;
    }
}

/* other special media query for full page view */
@media (max-width: 538px) {
    .timer-box{
        margin: 35px 30px;
        padding: 20px 0 0 0;
        width: 110px;
    }

    h3 {
        font-size: 32px;
    }
}
