h1 {
    font-size: 60px;
    font-weight: bold;
    padding: 80px 0 0 0;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 48px;
    margin-top: 8px;
    margin-bottom: 0;
}

.listview {
    padding: 0 20%;
    position:relative;
}

.col-middle {
    vertical-align:middle;
}

.row {
    margin: 0 4px 0;
}

.entry-block{
    box-shadow:1px 1px 5px rgba(0,0,0,0.4);
}

.list-shortname {
    font-size: 30px;
    font-weight: 200;
}

.list-fullname {
    font-size: 14px;
}

.list-date {
    font-size: 20px;
    font-weight: 200;
    padding: 0 0 5px;
}

.list-timer-section {
    display: inline-block;
    height: 100%;
    width: 23%;
    border-left: 1px dotted #dadada;
    border-color: rgb(218,218,218);
    border-color: rgba(218,218,218,0.8);
    text-align: center;
    letter-spacing: 1px;
    vertical-align:middle;
}

.list-timer-section:first-child {
    border-left: 0;
}

.list-timer-amount {
    font-size: 28px;
    font-weight: 200;
    padding: 1px;
}

.list-timer-period {
    font-size: 14px;
    text-transform: lowercase;
}

.fullview {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    background-repeat: no-repeat;
    text-align: center;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 2;
    color: white;
}

.entry-block:hover {
    opacity: 0.7;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.timer-box{
    display: inline-block;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    border: 4px solid rgba(255, 255, 255, .6);
    color: white;
    text-align: center;
    margin: 35px 24px;
    padding: 20px 12px 0 12px;
    width: 120px;
}

.timer-box p{
    margin-top: 0;
    text-transform: lowercase;
}

/* content styles */
.content {
    width: 100%;
    vertical-align:middle;
    text-align:center;
}

/* centering styles for jsbin */
html,
body {
    width:100%;
}

/* above things work on default size of 980px and up, for other we use media queries */

/* large desktop */
@media (min-width: 1200px) {
    .listview {
        padding: 0 25%;
    }
}

@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0;
        padding-right:0;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }

    .listview {
        padding: 0 16%;
    }

    .list-shortname {
        text-align: left;
    }

    .list-fullname {
        text-align: left;
    }

    .list-date {
        text-align: left;
    }

}

/* landscape phone to portrait tablet */
@media (max-width: 767px) {
    .listview {
        padding: 0 10%;
    }

    .timer-box{
        margin: 35px 12px;
        padding: 16px 0 0 0;
        width: 100px;
    }

    h3 {
        font-size: 32px;
    }
}

/* landscape phones and down */
@media (max-width: 480px) {
    .listview {
        padding: 0 4%;
    }

    .list-heading {
        padding: 5px 0 0;
    }

    .list-shortname {
        font-size: 24px;
    }

    .list-fullname {
        font-size: 12px;
    }

    .list-date {
        font-size: 22px;
    }

    .list-timer-amount {
        font-size: 20px;
    }

    .list-timer-period {
        font-size: 12px;
        text-transform: lowercase;
    }

    .timer-box{
        margin: 35px 30px;
        padding: 20px 0 0 0;
        width: 110px;
    }
}

/* other special media query for list view */
@media (min-width: 1400px) {
    .listview {
        padding: 0 30%;
    }
}

/* other special media query for full page view */
@media (max-width: 538px) {
    .timer-box{
        margin: 35px 30px;
        padding: 20px 0 0 0;
        width: 110px;
    }

    h3 {
        font-size: 32px;
    }
}
