/* bootstrap3 related settings */
.col-middle {
    vertical-align:middle;
}
.row {
    margin: 0 4px 0;
}

/* shadowing each entry box */
.entry{
    background-color: #f5f5f5;
    box-shadow:1px 1px 5px rgba(0,0,0,0.4);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

/* hover effect for entries */
.entry:hover {
    background-color: #dddddd;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

/* middeling the entry contents in list view */
.list-content {
    width: 100%;
    vertical-align:middle;
    text-align:left;
}

/* setting fonts in list view */
.list-shortname {
    font-size: 34px;
    padding: 10px 0 0 0;
}
.list-fullname {
    font-size: 16px;
    padding: 0;
}
.list-date {
    font-size: 22px;
    padding: 15px 0 10px;
}

/* styling timer section in list view */
.list-timer-section {
    display: inline-block;
    height: 100%;
    width: 23%;
    border-left: 1px dotted #dadada;
    border-color: rgb(218,218,218);
    border-color: rgba(218,218,218,0.8);
    text-align: center;
    letter-spacing: 1px;
    vertical-align:middle;
}
.list-timer-section:first-child {
    border-left: 0;
}
.list-timer-amount {
    font-size: 34px;
    padding: 1px;
}
.list-timer-period {
    font-size: 16px;
    text-transform: lowercase;
}

/* middleing entry on details view */
.detail {
    text-align: center;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    position:absolute;
    padding-top: 40px;
    color: white;
    z-index: 2;
    font-weight: 600;
}

/* setting fonts in list view */
.detail-shortname {
    font-size: 52px;
    padding: 20px 0 0 0;
}
.detail-fullname {
    font-size: 24px;
    padding: 0;
}
.detail-date {
    font-size: 36px;
    padding: 30px 0 20px;
}

/* styling timer section in list view */
.detail-timer-section {
    display: inline-block;
    height: 100%;
    width: 15%;
    border-left: 2px dotted #dadada;
    border-color: rgb(218,218,218);
    border-color: rgba(218,218,218,0.8);
    text-align: center;
    letter-spacing: 1px;
    vertical-align:middle;
}
.detail-timer-section:first-child {
    border-left: 0;
}
.detail-timer-amount {
    font-size: 52px;
    padding: 1px;
}
.detail-timer-period {
    font-size: 24px;
    text-transform: lowercase;
}

/*  making the map on details page darker with an overlay */
.darken-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.4;
}

/* setting single row view in list view for desktops */
.container-sm-height {
    display:table;
    padding-left:0;
    padding-right:0;
}
.row-sm-height {
    display:table-row;
}
.col-sm-height {
    display:table-cell;
    float:none;
}

/* centering styles */
html,
body {
    width:100%;
    font-family: raleway, sans-serif;
    font-weight: 400;
    background-color: #fafafa;
}

/* above things work on default size of 1200px and above, for other we use media queries */

/* large desktop */
@media only screen and (max-width : 1200px) {
    /* setting timer width in details view */
    .detail-timer-section {
        width: 18%;
    }
}

/* dedium devices, desktops */
@media only screen and (max-width : 992px) {
    /* setting fonts in list view */
    .list-shortname,
    .list-timer-amount {
        font-size: 32px;
    }
    .list-date {
        font-size: 16px;
    }
    .list-fullname,
    .list-timer-period {
        font-size: 14px;
    }

    /* setting fonts in details view */
    .detail-shortname,
    .detail-timer-amount {
        font-size: 48px;
    }
    .detail-date {
        font-size: 34px;
    }
    .detail-fullname,
    .detail-timer-period {
        font-size: 22px;
    }

    /* setting timer width in details view */
    .detail-timer-section {
        width: 20%;
    }
}

/* small devices, tablets */
@media only screen and (max-width : 768px) {
    /* setting two row view in list view for small devices */
    .container-sm-height {
        display:block;
    }
    .row-sm-height {
        display:block;
    }
    .col-sm-height {
        display:block;
    }
    .list-content {
        text-align:center;
    }

    /* setting fonts in list view */
    .list-shortname,
    .list-timer-amount {
        font-size: 30px;
    }
    .list-date {
        font-size: 18px;
    }
    .list-fullname,
    .list-timer-period {
        font-size: 12px;
    }

    /* add some space below in two row view */
    .list-timer-row{
        padding-bottom: 10px;
    }

    /* setting fonts in details view */
    .detail-shortname,
    .detail-timer-amount {
        font-size: 45px;
    }
    .detail-date {
        font-size: 28px;
    }
    .detail-fullname,
    .detail-timer-period {
        font-size: 18px;
    }

    /* setting timer width in details view */
    .detail-timer-section {
        width: 25%;
    }
}

/* landscape phones and down */
@media only screen and (max-width : 480px) {
    /* setting fonts in list view */
    .list-shortname,
    .list-timer-amount {
        font-size: 24px;
    }
    .list-date {
        font-size: 14px;
    }
    .list-fullname,
    .list-timer-period {
        font-size: 11px;
    }

    /* setting fonts in details view */
    .detail-shortname {
        font-size: 34px;
    }
    .detail-timer-amount {
        font-size: 28px;
    }
    .detail-date {
        font-size: 20px;
    }
    .detail-fullname {
        font-size: 14px;
    }
    .detail-timer-period {
        font-size: 12px;
    }
}
